html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 100px;

  border-bottom: solid 1px #dddddd;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__left,
.header__center,
.header__right {
  margin: 0px 30px 0px 30px;
}
.logo {
  font-family: "Cafe24Ssurround";
  font-size: 25px;
}

main {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 50px;

  border-top: solid 1px #dddddd;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px 10px;
}
